# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
.DS_Store
__pycache__/
mock_backend/.coverage
mock_backend/coverage.xml
mock_backend/database.db
mock_backend/reports/test_report.html
mock_backend/reports/test_report.json
.gitignore
mock_backend/reports/
test-results/
playwright-report/index.html
